<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="true"
		 backupStaticAttributes="true"
		 colors="true"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 processIsolation="false"
		 stopOnFailure="false"
		 bootstrap="tests/bootstrap.php">
	<testsuites>
		<testsuite name="phpBB-Blog test suite">
			<directory suffix="_test.php">tests/tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory>./blog/</directory>
			<exclude>
				<directory>./blog/language/</directory>
			</exclude>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-clover" target="logs/clover.xml" />
		<log type="coverage-html"
			title="phpBB-Blog code coverage"
			target="logs/coverage"
			charset="UTF-8"
			yui="true"
			highlight="false"
			lowUpperBound="35"
			highLowerBound="70" />
	</logging>

	<php>
		<server name="PHPBB_TEST_DBMS" value="" />
		<server name="PHPBB_TEST_DBHOST" value="" />
		<server name="PHPBB_TEST_DBPORT" value="" />
		<server name="PHPBB_TEST_DBNAME" value="" />
		<server name="PHPBB_TEST_DBUSER" value="" />
		<server name="PHPBB_TEST_DBPASSWD" value="" />
		<server name="PHPBB_TEST_TABLE_PREFIX" value=""/>
	</php>
</phpunit>